<div class="local-contexts-project">
  <div class="project-title">{{ title }}</div>
  {% if tk_labels %}
  <div class="tk-labels">
    {% for tk_label in tk_labels %}
    <div class="tk-label">
      <img src="{{ tk_label.svg_url }}" alt="{{ tk_label.name }}">
      <div class="name">{{ tk_label.name }}</div>
      <div class="text">{{ tk_label.text }}</div>
    </div>
    {% endfor %}
  </div>
  {% endif %}
  {% if bc_labels %}
  <div class="bc-labels">
    {% for bc_label in bc_labels %}
    <div class="bc-label">
      <img src="{{ bc_label.svg_url }}" alt="{{ bc_label.name }}">
      <div class="name">{{ bc_label.name }}</div>
      <div class="text">{{ bc_label.text }}</div>
    </div>
    {% endfor %}
  </div>
  {% endif %}
  {% if notices %}
    <div class="notices">
      {% for notice in notices %}
        <div class="notice">
          <img src="{{ notice.svg_url }}" alt="{{ notice.name }}">
          <div class="name">{{ notice.name }}</div>
          <div class="text">{{ notice.text }}</div>
        </div>
      {% endfor %}
    </div>
  {% endif %}
</div>
