<div class="local-contexts-label">
  <img src="{{ svg_url }}" alt="{{ name }}">
  <div class="name">{{ name }}</div>
  <div class="text">{{ text }}</div>
  <div class="locale">{{ locale }}</div>
  <div class="language">{{ language }}</div>
  <div class="translationName">{{ translationName }}</div>
  <div class="translationText">{{ translationText }}</div>
</div>

