<div class="local-contexts-project">
  <div class="project-title">{{ title }}</div>
  {% if labels %}
  <div class="labels">
    {% for label in labels %}
    <div class="label">
      <img src="{{ label.svg_url }}" alt="{{ label.name }}">
      <div class="name">{{ label.name }}</div>
      <div class="text">{{ label.text }}</div>
    </div>
    {% endfor %}
  </div>
  {% endif %}
  {% if notices %}
    <div class="notices">
      {% for notice in notices %}
        <div class="notice">
          <img src="{{ notice.svg_url }}" alt="{{ notice.name }}">
          <div class="name">{{ notice.name }}</div>
          <div class="text">{{ notice.text }}</div>
        </div>
      {% endfor %}
    </div>
  {% endif %}
</div>
