{#
project array has: ['id', 'provider_id', 'title', 'privacy', 'updated']

'tk_labels' and 'bc_labels' format:
  LABEL_UUID => [
  "id" => LABEL_UUID,
  "name" => "TK Outreach (TK O)",
  "svg_url" => "https://storage.googleapis.com/local-context-hub-staging.appspot.com/labels/tklabels/tk-outreach.svg",
  "text" => "This Label is being used to indicate that this material is traditionally and usually not publicly available...",
  "audio_url" => "https://storage.googleapis.com/local-context-hub-staging.appspot.com/labels/tklabels/tk-outreach.mp3",
  "language" => "English",
  "translations" => [ TRANSLATION_INDEX => ["locale" => ..., "language" => ..., "name" => ..., "text" => ...], ... ],
]

'notices' format:
NOTICE_UUID:notice_type => [
  "project_id" => NOTICE_UUID,
  "notice_type" => "traditional_knowledge",
  "name" => "Traditional Knowledge (TK) Notice",
  "svg_url" => "https://storage.googleapis.com/local-context-hub-staging.appspot.com/labels/notices/tk-notice.svg",
  "text" => "The TK (Traditional Knowledge) Notice is a visible notification that there are accompanying cultural rights and responsibilities that need further...",
  "translations" => [ TRANSLATION_INDEX => ["locale" => ..., "language" => ..., "name" => ..., "text" => ...], ... ],
]

#}

{{ attach_library('mukurtu_local_contexts/local-contexts-dialog') }}
<div class="local-contexts-projects">
  <div class="description">{{ description }}</div>
  {% if projects %}
  <div class="projects">
    {% for project in projects %}
    <div class="project">
      <h2 class="project__title"><a href={{ project.url }} title={{'View the project details on the Local Contexts Hub'}}>{{ project.title }}</a></h2>
      {% if project.tk_labels %}
        <h3 class="labels-type">{{ 'TK Labels'|t }}</h3>
        <div class="tk-labels">
          {% for label in project.tk_labels %}
            <div class="tk-label">
              <img src="{{ label.svg_url ?? label.img_url }}" alt="{{ label.name }}">
              <div class="label-content">
                {% if label.translations and label.language %}
                  <div class="local-contexts-dialog__tabs" role="tablist">
                    <button type="button" class="local-contexts-dialog__tab" role="tab" aria-selected="true" aria-controls="{{ label.id }}-panel-0" id="{{ label.id }}-tab-0">{{ label.language }}</button>
                    {% for translation in label.translations %}
                      <button type="button" class="local-contexts-dialog__tab" role="tab" aria-selected="false" tabindex="-1" aria-controls="{{ label.id }}-panel-{{ loop.index }}" id="{{ label.id }}-tab-{{ loop.index }}">{{ translation.language }}</button>
                    {% endfor %}
                  </div>
                  <div class="local-contexts-dialog__tabpanel" id="{{ label.id }}-panel-0" role="tabpanel" aria-labelledby="{{ label.id }}-tab-0">
                    <h4 class="label__name">{{ label.name }}</h4>
                    <div class="text">{{ label.text }}</div>
                  </div>
                  {% for translation in label.translations %}
                    <div class="local-contexts-dialog__tabpanel" id="{{ label.id }}-panel-{{ loop.index }}" role="tabpanel" aria-labelledby="{{ label.id }}-tab-{{ loop.index }}" hidden>
                      {% if translation.name %}
                        <h4 class="label__name">{{ translation.name }}</h4>
                      {% endif %}
                      {% if translation.text %}
                        <div class="text">{{ translation.text }}</div>
                      {% endif %}
                    </div>
                  {% endfor %}
                {% else %}
                  <h4 class="label__name">{{ label.name }}</h4>
                  <div class="text">{{ label.text }}</div>
                {% endif %}
                {% if label.audio_url %}
                  <div class="local-contexts-dialog__audio">
                    <audio controls>
                      <source src="{{ label.audio_url }}">
                    </audio>
                  </div>
                {% endif %}
              </div>
            </div>
          {% endfor %}
        </div>
      {% endif %}
      {% if project.bc_labels %}
        <h3 class="labels-type">{{ 'BC Labels'|t }}</h3>
        <div class="bc-labels">
          {% for label in project.bc_labels %}
            <div class="bc-label">
              <img src="{{ label.svg_url ?? label.img_url }}" alt="{{ label.name }}">
              <div class="label-content">
                {% if label.translations and label.language %}
                  <div class="local-contexts-dialog__tabs" role="tablist">
                    <button type="button" class="local-contexts-dialog__tab" role="tab" aria-selected="true" aria-controls="{{ label.id }}-panel-0" id="{{ label.id }}-tab-0">{{ label.language }}</button>
                    {% for translation in label.translations %}
                      <button type="button" class="local-contexts-dialog__tab" role="tab" aria-selected="false" tabindex="-1" aria-controls="{{ label.id }}-panel-{{ loop.index }}" id="{{ label.id }}-tab-{{ loop.index }}">{{ translation.language }}</button>
                    {% endfor %}
                  </div>
                  <div class="local-contexts-dialog__tabpanel" id="{{ label.id }}-panel-0" role="tabpanel" aria-labelledby="{{ label.id }}-tab-0">
                    <h4 class="label__name">{{ label.name }}</h4>
                    <div class="text">{{ label.text }}</div>
                  </div>
                  {% for translation in label.translations %}
                    <div class="local-contexts-dialog__tabpanel" id="{{ label.id }}-panel-{{ loop.index }}" role="tabpanel" aria-labelledby="{{ label.id }}-tab-{{ loop.index }}" hidden>
                      {% if translation.name %}
                        <h4 class="label__name">{{ translation.name }}</h4>
                      {% endif %}
                      {% if translation.text %}
                        <div class="text">{{ translation.text }}</div>
                      {% endif %}
                    </div>
                  {% endfor %}
                {% else %}
                  <h4 class="label__name">{{ label.name }}</h4>
                  <div class="text">{{ label.text }}</div>
                {% endif %}
                {% if label.audio_url %}
                  <div class="local-contexts-dialog__audio">
                    <audio controls>
                      <source src="{{ label.audio_url }}">
                    </audio>
                  </div>
                {% endif %}
              </div>
            </div>
          {% endfor %}
        </div>
      {% endif %}
      {% if project.notices %}
        <h3 class="labels-type">{{ 'Notices'|t }}</h3>
        <div class="notices">
          {% for notice in project.notices %}
            <div class="notice">
              <img src="{{ notice.svg_url ?? notice.img_url }}" alt="{{ notice.name }}">
              <div class="label-content">
                <h4 class="label__name">{{ notice.name }}</h4>
                <div class="text">{{ notice.text }}</div>
                {% if notice.translations %}
                  {% for translation in notice.translations %}
                    <div class="local-contexts-dialog__translation">
                      {% if translation.language %}
                        <div class="local-contexts-dialog__translation-language">{{ translation.language }}</div>
                      {% endif %}
                      {% if translation.name %}
                        <div class="local-contexts-dialog__translation-name">{{ translation.name }}</div>
                      {% endif %}
                      {% if translation.text %}
                        <div class="local-contexts-dialog__translation-text">{{ translation.text }}</div>
                      {% endif %}
                    </div>
                  {% endfor %}
                {% endif %}
              </div>
            </div>
          {% endfor %}
        </div>
      {% endif %}
    </div>
    {% endfor %}
  </div>
  {% endif %}
</div>
