<div class="local-contexts-project">
  <div class="project-title">{{ title }}</div>
  <div class="tk-labels">
    {% for tk_label in tk_labels %}
    <div class="tk-label">
      <img src="{{ tk_label.svg_url }}" alt="{{ tk_label.name }}">
      <div class="name">{{ tk_label.name }}</div>
      <div class="text">{{ tk_label.text }}</div>
    </div>
    {% endfor %}
  </div>
</div>
