<div class="local-contexts-label-group">
  {% if project_title %}
    <h3 class="project-title">{{ project_title }}</h3>
  {% endif %}
  {% if not_available %}
    <div class="local-contexts-status-badge local-contexts-status-badge--unavailable">{{ 'Not available'|t }}</div>
    <div class="local-contexts-status-note">{{ 'Last synced: @date'|t({'@date': last_synced ? last_synced|format_date('short') : 'never'}) }}</div>
  {% elseif archived %}
    <div class="local-contexts-status-badge local-contexts-status-badge--archived">{{ 'Archived on Local Contexts Hub'|t }}</div>
  {% endif %}
  <div class="local-contexts-label-group-items">
    {% for item in items %}
      {{ item }}
    {% endfor %}
  </div>
</div>
