{#
project array has: ['id', 'provider_id', 'title', 'privacy', 'updated']

'tk_labels' and 'bc_labels' format:
  LABEL_UUID => [
  "id" => LABEL_UUID,
  "name" => "TK Outreach (TK O)",
  "svg_url" => "https://storage.googleapis.com/local-context-hub-staging.appspot.com/labels/tklabels/tk-outreach.svg",
  "text" => "This Label is being used to indicate that this material is traditionally and usually not publicly available...",
]

'notices' format:
NOTICE_UUID:notice_type => [
  "project_id" => NOTICE_UUID,
  "notice_type" => "traditional_knowledge",
  "name" => "Traditional Knowledge (TK) Notice",
  "svg_url" => "https://storage.googleapis.com/local-context-hub-staging.appspot.com/labels/notices/tk-notice.svg",
  "text" => "The TK (Traditional Knowledge) Notice is a visible notification that there are accompanying cultural rights and responsibilities that need further...",
]

#}

<div class="local-contexts-projects">
  <div class="description">{{ description }}</div>
  {% if projects %}
  <div class="projects">
    {% for project in projects %}
    <div class="project">
      <h2 class="project__title"><a href={{ project.url }} title="{{'View the project details on the Local Contexts Hub'|t}}">{{ project.title }}</a></h2>
      <p>{{ project.description }}</p>
      {% if project.tk_labels %}
        <h3 class="labels-type">{{ 'TK Labels'|t }}</h3>
        <div class="tk-labels">
          {% for label in project.tk_labels %}
            <div class="tk-label">
              <img src="{{ label.svg_url ?? label.img_url }}" alt="{{ label.name }}">
              <div class="label-content">
                <h4 class="label__name">{{ label.name }}</h4>
                <div class="text">{{ label.text }}</div>
              </div>
            </div>
          {% endfor %}
        </div>
      {% endif %}
      {% if project.bc_labels %}
        <h3 class="labels-type">{{ 'BC Labels'|t }}</h3>
        <div class="bc-labels">
          {% for label in project.bc_labels %}
            <div class="bc-label">
              <img src="{{ label.svg_url ?? label.img_url }}" alt="{{ label.name }}">
              <div class="label-content">
                <h4 class="label__name">{{ label.name }}</h4>
                <div class="text">{{ label.text }}</div>
              </div>
            </div>
          {% endfor %}
        </div>
      {% endif %}
      {% if project.notices %}
        <h3 class="labels-type">{{ 'Notices'|t }}</h3>
        <div class="notices">
          {% for notice in project.notices %}
            <div class="notice">
              <img src="{{ notice.svg_url ?? notice.img_url }}" alt="{{ notice.name }}">
              <div class="label-content">
                <h4 class="label__name">{{ notice.name }}</h4>
                <div class="text">{{ notice.text }}</div>
              </div>
            </div>
          {% endfor %}
        </div>
      {% endif %}
    </div>
    {% endfor %}
  </div>
  {% endif %}
</div>
