{{ attach_library('mukurtu_local_contexts/local-contexts-dialog') }}
<div class="local-contexts-project">
  <h3 class="project-title">{{ title }}</h3>
  <div class="local-contexts-projects-container">
    {% if tk_labels %}

      {% for tk_label in tk_labels %}
      <div class="tk-label local-contexts-dialog">
        <button type="button" class="local-contexts-dialog__trigger" aria-haspopup="dialog" aria-expanded="false">
          <img src="{{ tk_label.svg_url ?? tk_label.img_url }}" alt="">
          {% set name_parts = tk_label.name|split(' (') %}
          <span class="local-contexts-label__name">{{- name_parts[0] -}}{% if name_parts[1] is defined %}<br><span class="local-contexts-label__abbr">({{ name_parts[1] }}</span>{% endif %}</span>
        </button>
        <dialog class="local-contexts-dialog__panel" aria-label="{{ tk_label.name }}">
          <div class="local-contexts-dialog__inner">
            <button type="button" class="local-contexts-dialog__close" aria-label="{{ 'Close'|t }}">&#x2715;</button>
            <div class="local-contexts-dialog__header">
              <img src="{{ tk_label.svg_url ?? tk_label.img_url }}" alt="">
            </div>
            {% set tk_tab_id = project_id ~ '-' ~ tk_label.id %}
            {% if tk_label.translations and tk_label.language %}
              <div class="local-contexts-dialog__tabs" role="tablist" aria-label="{{ tk_label.name }}">
                <button type="button" class="local-contexts-dialog__tab" role="tab" aria-selected="true" aria-controls="{{ tk_tab_id }}-panel-0" id="{{ tk_tab_id }}-tab-0">{{ tk_label.language }}</button>
                {% for translation in tk_label.translations %}
                  <button type="button" class="local-contexts-dialog__tab" role="tab" aria-selected="false" tabindex="-1" aria-controls="{{ tk_tab_id }}-panel-{{ loop.index }}" id="{{ tk_tab_id }}-tab-{{ loop.index }}">{{ translation.language }}</button>
                {% endfor %}
              </div>
              <div class="local-contexts-dialog__tabpanel" id="{{ tk_tab_id }}-panel-0" role="tabpanel" aria-labelledby="{{ tk_tab_id }}-tab-0">
                <h2 class="local-contexts-dialog__title">{{ tk_label.name }}</h2>
                <div class="local-contexts-dialog__text">{{ tk_label.text }}</div>
              </div>
              {% for translation in tk_label.translations %}
                <div class="local-contexts-dialog__tabpanel" id="{{ tk_tab_id }}-panel-{{ loop.index }}" role="tabpanel" aria-labelledby="{{ tk_tab_id }}-tab-{{ loop.index }}" hidden>
                  {% if translation.name %}
                    <h2 class="local-contexts-dialog__title">{{ translation.name }}</h2>
                  {% endif %}
                  {% if translation.text %}
                    <div class="local-contexts-dialog__text">{{ translation.text }}</div>
                  {% endif %}
                </div>
              {% endfor %}
            {% else %}
              <h2 class="local-contexts-dialog__title">{{ tk_label.name }}</h2>
              <div class="local-contexts-dialog__text">{{ tk_label.text }}</div>
            {% endif %}
            {% if tk_label.audio_url %}
              <div class="local-contexts-dialog__audio">
                <audio controls aria-label="{{ tk_label.name }}">
                  <source src="{{ tk_label.audio_url }}">
                </audio>
              </div>
            {% endif %}
            {% if project_url %}
              <div class="local-contexts-dialog__project-link"><a href="{{ project_url }}" target="_blank" rel="noopener noreferrer">{{ title }}</a></div>
            {% endif %}
          </div>
        </dialog>
      </div>
      {% endfor %}

    {% endif %}
    {% if bc_labels %}

      {% for bc_label in bc_labels %}
      <div class="bc-label local-contexts-dialog">
        <button type="button" class="local-contexts-dialog__trigger" aria-haspopup="dialog" aria-expanded="false">
          <img src="{{ bc_label.svg_url ?? bc_label.img_url }}" alt="">
          {% set name_parts = bc_label.name|split(' (') %}
          <span class="local-contexts-label__name">{{- name_parts[0] -}}{% if name_parts[1] is defined %}<br><span class="local-contexts-label__abbr">({{ name_parts[1] }}</span>{% endif %}</span>
        </button>
        <dialog class="local-contexts-dialog__panel" aria-label="{{ bc_label.name }}">
          <div class="local-contexts-dialog__inner">
            <button type="button" class="local-contexts-dialog__close" aria-label="{{ 'Close'|t }}">&#x2715;</button>
            <div class="local-contexts-dialog__header">
              <img src="{{ bc_label.svg_url ?? bc_label.img_url }}" alt="">
            </div>
            {% set bc_tab_id = project_id ~ '-' ~ bc_label.id %}
            {% if bc_label.translations and bc_label.language %}
              <div class="local-contexts-dialog__tabs" role="tablist" aria-label="{{ bc_label.name }}">
                <button type="button" class="local-contexts-dialog__tab" role="tab" aria-selected="true" aria-controls="{{ bc_tab_id }}-panel-0" id="{{ bc_tab_id }}-tab-0">{{ bc_label.language }}</button>
                {% for translation in bc_label.translations %}
                  <button type="button" class="local-contexts-dialog__tab" role="tab" aria-selected="false" tabindex="-1" aria-controls="{{ bc_tab_id }}-panel-{{ loop.index }}" id="{{ bc_tab_id }}-tab-{{ loop.index }}">{{ translation.language }}</button>
                {% endfor %}
              </div>
              <div class="local-contexts-dialog__tabpanel" id="{{ bc_tab_id }}-panel-0" role="tabpanel" aria-labelledby="{{ bc_tab_id }}-tab-0">
                <h2 class="local-contexts-dialog__title">{{ bc_label.name }}</h2>
                <div class="local-contexts-dialog__text">{{ bc_label.text }}</div>
              </div>
              {% for translation in bc_label.translations %}
                <div class="local-contexts-dialog__tabpanel" id="{{ bc_tab_id }}-panel-{{ loop.index }}" role="tabpanel" aria-labelledby="{{ bc_tab_id }}-tab-{{ loop.index }}" hidden>
                  {% if translation.name %}
                    <h2 class="local-contexts-dialog__title">{{ translation.name }}</h2>
                  {% endif %}
                  {% if translation.text %}
                    <div class="local-contexts-dialog__text">{{ translation.text }}</div>
                  {% endif %}
                </div>
              {% endfor %}
            {% else %}
              <h2 class="local-contexts-dialog__title">{{ bc_label.name }}</h2>
              <div class="local-contexts-dialog__text">{{ bc_label.text }}</div>
            {% endif %}
            {% if bc_label.audio_url %}
              <div class="local-contexts-dialog__audio">
                <audio controls aria-label="{{ bc_label.name }}">
                  <source src="{{ bc_label.audio_url }}">
                </audio>
              </div>
            {% endif %}
            {% if project_url %}
              <div class="local-contexts-dialog__project-link"><a href="{{ project_url }}" target="_blank" rel="noopener noreferrer">{{ title }}</a></div>
            {% endif %}
          </div>
        </dialog>
      </div>
      {% endfor %}

    {% endif %}
    {% if notices %}

      {% for notice in notices %}
      <div class="notice local-contexts-dialog">
        <button type="button" class="local-contexts-dialog__trigger" aria-haspopup="dialog" aria-expanded="false">
          <img src="{{ notice.svg_url ?? notice.img_url }}" alt="">
          {% set name_parts = notice.name|split(' (') %}
          <span class="local-contexts-notice__name">{{- name_parts[0] -}}{% if name_parts[1] is defined %}<br><span class="local-contexts-notice__abbr">({{ name_parts[1] }}</span>{% endif %}</span>
        </button>
        <dialog class="local-contexts-dialog__panel" aria-label="{{ notice.name }}">
          <div class="local-contexts-dialog__inner">
            <button type="button" class="local-contexts-dialog__close" aria-label="{{ 'Close'|t }}">&#x2715;</button>
            <div class="local-contexts-dialog__header">
              <img src="{{ notice.svg_url ?? notice.img_url }}" alt="">
              <div class="local-contexts-dialog__header-text">
                <h2 class="local-contexts-dialog__title">{{ notice.name }}</h2>
              </div>
            </div>
            {% set notice_tab_id = project_id ~ '-' ~ notice.notice_type %}
            {% if notice.translations and notice.language %}
              <div class="local-contexts-dialog__tabs" role="tablist" aria-label="{{ notice.name }}">
                <button type="button" class="local-contexts-dialog__tab" role="tab" aria-selected="true" aria-controls="{{ notice_tab_id }}-panel-0" id="{{ notice_tab_id }}-tab-0">{{ notice.language }}</button>
                {% for translation in notice.translations %}
                  <button type="button" class="local-contexts-dialog__tab" role="tab" aria-selected="false" tabindex="-1" aria-controls="{{ notice_tab_id }}-panel-{{ loop.index }}" id="{{ notice_tab_id }}-tab-{{ loop.index }}">{{ translation.language }}</button>
                {% endfor %}
              </div>
              <div class="local-contexts-dialog__tabpanel" id="{{ notice_tab_id }}-panel-0" role="tabpanel" aria-labelledby="{{ notice_tab_id }}-tab-0">
                <div class="local-contexts-dialog__text">{{ notice.text }}</div>
              </div>
              {% for translation in notice.translations %}
                <div class="local-contexts-dialog__tabpanel" id="{{ notice_tab_id }}-panel-{{ loop.index }}" role="tabpanel" aria-labelledby="{{ notice_tab_id }}-tab-{{ loop.index }}" hidden>
                  {% if translation.name %}
                    <h2 class="local-contexts-dialog__title">{{ translation.name }}</h2>
                  {% endif %}
                  {% if translation.text %}
                    <div class="local-contexts-dialog__text">{{ translation.text }}</div>
                  {% endif %}
                </div>
              {% endfor %}
            {% else %}
              <div class="local-contexts-dialog__text">{{ notice.text }}</div>
              {% if notice.translations %}
                {% for translation in notice.translations %}
                  <div class="local-contexts-dialog__translation">
                    {% if translation.language %}
                      <div class="local-contexts-dialog__translation-language">{{ translation.language }}</div>
                    {% endif %}
                    {% if translation.name %}
                      <div class="local-contexts-dialog__translation-name">{{ translation.name }}</div>
                    {% endif %}
                    {% if translation.text %}
                      <div class="local-contexts-dialog__translation-text">{{ translation.text }}</div>
                    {% endif %}
                  </div>
                {% endfor %}
              {% endif %}
            {% endif %}
            {% if project_url %}
              <div class="local-contexts-dialog__project-link"><a href="{{ project_url }}" target="_blank" rel="noopener noreferrer">{{ title }}</a></div>
            {% endif %}
          </div>
        </dialog>
      </div>
      {% endfor %}

    {% endif %}
  </div>
</div>
