{# {{dump()}} #}
<div class="mukurtu-footer">
  {% if logos %}
    <div class="logos">
      {% for logo in logos %}
        {% if logo %}
          <div class="logo">
            <img src={{ logo.url }} alt={{ logo.alt }}>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  {% endif %}

  {# Email. #}
  <div class="email">
  {% if email_us_text %}
    <div class="email-us-text"><a href="mailto:{{ contact_email_address }}">{{ email_us_text }}</a></div>
  {% endif %}
  </div>

  {# Socials. #}
  <div class="socials">
  {% if twitter %}
	  <div class="twitter icon">{{ twitter }}</div>
  {% endif %}
  {# {% if twitter_accounts %}
    <div class="twitter-accounts">
      {% for account in twitter_accounts %}
        {% if account %}
          <div class="account">{{ account }}</div>
        {% endif %}
      {% endfor %}
    </div>
  {% endif %} #}

  {% if facebook %}
	  <div class="facebook icon">{{ facebook }}</div>
  {% endif %}
  {# {% if facebook_accounts is not empty %}
    <div class="facebook-accounts">
      {% for account in facebook_accounts %}
        {% if account %}
          <div class="account">{{ account }}</div>
        {% endif %}
      {% endfor %}
    </div> #}
  {# {% endif %} #}

  {% if instagram %}
	  <div class="instagram icon">{{ instagram }}</div>
  {% endif %}
  {# {% if instagram_accounts %}
    <div class="instagram-accounts">
      {% for account in instagram_accounts %}
        {% if account %}
          <div class="account">{{ account }}</div>
        {% endif %}
      {% endfor %}
    </div>
  {% endif %} #}
  </div>

  {% if copyright_message %}
    <div class="copyright-message">{{ copyright_message }}</div>
  {% endif %}
</div>
