{{ attach_library('mukurtu_v4/media-glightbox') }}

{% if items|length > 1 %}
  {{ attach_library('mukurtu_v4/media-carousel') }}
  <div{{ attributes.addClass('field', 'field--name-field-media-items', 'splide__track') }}>
    <ul class="splide__list field__items">
      {% for item in items %}
        <li{{ item.attributes.addClass('field__item splide__slide') }}>{{ item.content }}</li>
      {% endfor %}
    </ul>
  </div>
{% else %}
  <div{{ attributes }}>
    <div class="field-item__container">
      {% for item in items %}
        <div class="field-item" {{ item.attributes }}>{{ item.content }}</div>
      {% endfor %}
    </div>
  </div>
{% endif %}
