{#
/**
 * @file
 * Default theme implementation for a fieldgroup html element.
 *
 * Available variables:
 * - title: Title of the group.
 * - title_element: Element to wrap the title.
 * - children: The children of the group.
 * - wrapper_element: The html element to use
 * - attributes: A list of HTML attributes for the group wrapper.
 *
 * @see template_preprocess_field_group_html_element()
 *
 * @ingroup themeable
 */
#}

<{{ wrapper_element }} {{ attributes }}>
{% if title %}
  <{{ title_element }}{{ title_attributes }}>{{ title }}</{{ title_element }}>
{% endif %}
  {% if collapsible %}
<div class="field-group-wrapper">
  {% endif %}
  {{ children }}
  <div class="callout">
    <div class="field__label">{{ 'Digital heritage'|t }}</div>
    <div class="field__items">
      <div class="field__item">
        <a href="/digital-heritage?f[0]=cultural_protocols_dh_browse%3A|{{ protocol_id }}|">
          {{ 'Browse by '|t ~ protocol_name }}
        </a>
      </div>
    </div>
  </div>
  <div class="callout">
    <div class="field__label">{{ 'Local context'|t }}</div>
    <div class="field__items">
      <div class="field__item">
        <a href="/dashboard/protocols/{{ protocol_id }}/local-contexts/projects">
          {{ 'Project directory for '|t ~ protocol_name }}
        </a>
      </div>
    </div>
  </div>
  {% if collapsible %}
</div>
{% endif %}
</{{ wrapper_element }}>
