{#
/**
 * @file
 * Theme override for a field.
 *
 * To override output, copy the "field.html.twig" from the templates directory
 * to your theme's directory and customize it, just like customizing other
 * Drupal templates such as page.html.twig or node.html.twig.
 *
 * Instead of overriding the theming for all fields, you can also just override
 * theming for a subset of fields using
 * @link themeable Theme hook suggestions. @endlink For example,
 * here are some theme hook suggestions that can be used for a field_foo field
 * on an article node type:
 * - field--node--field-foo--article.html.twig
 * - field--node--field-foo.html.twig
 * - field--node--article.html.twig
 * - field--field-foo.html.twig
 * - field--text-with-summary.html.twig
 * - field.html.twig
 *
 * Available variables:
 * - attributes: HTML attributes for the containing element.
 * - label_hidden: Whether to show the field label or not.
 * - title_attributes: HTML attributes for the title.
 * - label: The label for the field.
 * - multiple: TRUE if a field can contain multiple items.
 * - items: List of all the field items. Each item contains:
 *   - attributes: List of HTML attributes for each item.
 *   - content: The field item's content.
 * - entity_type: The entity type to which the field belongs.
 * - field_name: The name of the field.
 * - field_type: The type of the field.
 * - label_display: The display settings for the label.
 *
 *
 * @see template_preprocess_field()
 */
#}
{%
  set classes = [
    'field',
    'field--name-' ~ field_name|clean_class,
    'field--type-' ~ field_type|clean_class,
    'field--label-' ~ label_display,
    label_display == 'inline' ? 'clearfix',
  ]
%}
{%
  set title_classes = [
    'field__label',
    label_display == 'visually_hidden' ? 'visually-hidden',
  ]
%}

{%
  set contentWarningsClasses = [
    'mukurtu-content-warning',
    'mukurtu-content-warning-' ~ media.id,
  ]
%}

{%
  set overlaySubClasses = [
    'mukurtu-content-warning-overlay-text',
    'mukurtu-content-warning-instance-' ~ media.id,
  ]
%}

{{ attach_library('mukurtu_v4/media-glightbox') }}

{# If there's more than 1 item in the media assets field,
render the rest of the code for the carousel. #}
{% if items|length > 1 %}
  {# The media carousel. #}
  {{ attach_library('mukurtu_v4/splide') }}
  {{ attach_library('mukurtu_v4/media-carousel') }}
  <div{{ attributes.addClass(classes, 'splide__track') }}>
    <ul class="splide__list field__items">
      {% for item in items %}
      {# todo: add content warnings for multiple media assets #}
        <li{{ item.attributes.addClass('field__item splide__slide') }}>{{ item.content }}</li>
      {% endfor %}
    </ul>
  </div>
{% else %}
{# If there's only 1 item in the media assets field,
do not render carousel code. #}
  <div{{ attributes }}>
    <div class="field-item__container">
    {% for item in items %}
      {% if hasContentWarning %}
      <div{{ item.attributes.addClass(contentWarningsClasses) }}>
        <div class="field-item" {{ item.attributes }}>{{ item.content }}</div>
        <div{{ item.attributes.addClass(overlaySubClasses).removeClass(contentWarningsClasses) }}>
          {% for warning in warnings %}
            <div>{{ warning }}</div>
          {% endfor %}
        </div>
      </div>
      {% else %}
        <div class="field-item" {{ item.attributes }}>{{ item.content }}</div>
      {% endif %}

    {% endfor %}
    </div>
  </div>
{% endif %}
