{% if getting_started_community %}
  {{ getting_started_community }}
{% endif %}

{% if getting_started_category %}
  {{ getting_started_category }}
{% endif %}

{% if drafts_content %}
  {{ drafts_content }}
{% endif %}

{% if activity_log %}
  <h2> {{ 'Recent Activity'|t }} </h2>
  {{ activity_log }}
{% endif %}

{% if all_recent_content %}
  {{ all_recent_content }}
{% endif %}

{% if user_recent_content %}
  {{ user_recent_content }}
{% endif %}

{% if draft_content %}
  <h2> {{ 'Your Drafts'|t }} </h2>
  {{ draft_content }}
{% endif %}
