<div>
  {% if notices %}
    <div class="notices">
      {{ notices }}
    </div>
  {% endif %}
  <div class="management-links">
    <ul>
      {% for link in links %}
        <li>{{ link }}</li>
      {% endfor %}
    </ul>
  </div>
  {% if sharing %}
    {{ sharing }}
  {% endif %}
  {% if membership_display %}
    {{ membership_display }}
  {% endif %}
  {% if members %}
    <div class="members">
      <label>{{ 'Membership List'|t }}</label>
      <ul>
      {% for member in members %}
        <li><a href="{{ path('entity.user.canonical', {'user': member.id()}) }}">{{ member.label() }}</a></li>
      {% endfor %}
      </ul>
    </div>
  {% endif %}
  {% if description %}
    {{ description }}
  {% endif %}
  {% if protocols %}
  <div class="protocols">
    <label>{{ 'Cultural Protocols'|t }}</label>
    <ul>
    {% for protocol in protocols %}
      <li><a href="{{ path('mukurtu_protocol.manage_protocol', {'group': protocol.id()}) }}">{{ protocol.getName() }} ({{ protocol.getSharingSettingLabel() }})</a></li>
    {% endfor %}
    </ul>
  </div>
  {% endif %}
</div>
