{#
/**
 * @file
 * Template for the user memberships page.
 *
 * Available variables:
 * - communities: List of community membership items, each with:
 *   - name: Community label string.
 *   - url: Community canonical URL string.
 *   - roles: Array of role label strings.
 *   - protocols: List of protocol membership items within this community, each with:
 *     - name: Protocol label string.
 *     - url: Protocol canonical URL string.
 *     - roles: Array of role label strings.
 * - orphan_protocols: Protocol memberships not under any of the user's communities.
 * - user: The user entity whose memberships are displayed.
 */
#}
<div class="mukurtu-user-memberships">
  {% if communities is empty and orphan_protocols is empty %}
    <p>{{ 'You are not a member of any communities or cultural protocols.'|t }}</p>
  {% else %}
    <table class="views-table cols-4">
      <caption>{{ 'Community and protocol memberships'|t }}</caption>
      <thead>
        <tr>
          <th scope="col" id="col-community">{{ 'Community'|t }}</th>
          <th scope="col" id="col-community-roles">{{ 'Community Role(s)'|t }}</th>
          <th scope="col" id="col-protocol">{{ 'Cultural Protocol'|t }}</th>
          <th scope="col" id="col-protocol-roles">{{ 'Protocol Role(s)'|t }}</th>
        </tr>
      </thead>
      <tbody>
        {% for item in communities %}
          {% set rowspan = item.protocols|length > 0 ? item.protocols|length : 1 %}
          {% set community_cell_id = 'community-' ~ loop.index %}
          {% for protocol_item in item.protocols %}
            <tr>
              {% if loop.first %}
                <td rowspan="{{ rowspan }}" id="{{ community_cell_id }}" headers="col-community">
                  <a href="{{ item.url }}">{{ item.name }}</a>
                </td>
                <td rowspan="{{ rowspan }}" headers="col-community-roles {{ community_cell_id }}">
                  {{ item.roles|join(', ') ?: ('None'|t) }}
                </td>
              {% endif %}
              <td headers="col-protocol {{ community_cell_id }}">
                <a href="{{ protocol_item.url }}">{{ protocol_item.name }}</a>
              </td>
              <td headers="col-protocol-roles {{ community_cell_id }}">
                {{ protocol_item.roles|join(', ') ?: ('None'|t) }}
              </td>
            </tr>
          {% else %}
            <tr>
              <td id="{{ community_cell_id }}" headers="col-community">
                <a href="{{ item.url }}">{{ item.name }}</a>
              </td>
              <td headers="col-community-roles {{ community_cell_id }}">
                {{ item.roles|join(', ') ?: ('None'|t) }}
              </td>
              <td headers="col-protocol {{ community_cell_id }}">{{ 'None'|t }}</td>
              <td headers="col-protocol-roles {{ community_cell_id }}">{{ 'None'|t }}</td>
            </tr>
          {% endfor %}
        {% endfor %}

      </tbody>
      {% if orphan_protocols is not empty %}
        <tbody>
          <tr>
            <th colspan="4" scope="rowgroup" id="orphan-group-header">{{ 'Other Cultural Protocol Memberships'|t }}</th>
          </tr>
          {% for protocol_item in orphan_protocols %}
            <tr>
              <td headers="orphan-group-header col-community">{{ 'None'|t }}</td>
              <td headers="orphan-group-header col-community-roles">{{ 'None'|t }}</td>
              <td headers="orphan-group-header col-protocol"><a href="{{ protocol_item.url }}">{{ protocol_item.name }}</a></td>
              <td headers="orphan-group-header col-protocol-roles">{{ protocol_item.roles|join(', ') ?: ('None'|t) }}</td>
            </tr>
          {% endfor %}
        </tbody>
      {% endif %}
    </table>
  {% endif %}
</div>
