<article{{attributes.addClass('node')}}>
	{{ title_prefix }}
	{% if not page %}
		<h2{{title_attributes}}>
			<a href="{{ url }}" rel="bookmark">{{ label }}</a>
		</h2>
	{% endif %}
	{{ title_suffix }}

	{% if display_submitted %}
		<footer>
			{{ author_picture }}
			<div{{author_attributes}}>
				{% trans %}Submitted by
				{{ author_name }}
				on
				{{ date }}{% endtrans %}
				{{ metadata }}
			</div>
		</footer>
	{% endif %}

	<div{{content_attributes.addClass(['node-content','md:tw-flex', 'md:tw-flex-row'])}}>
		<div class="tw-basis-2/3 tw-w-2/3 tw-shrink tw-p-4 main-content">
			{{ content.field_media_assets }}
			{{ content.field_description }}
			{{ content.field_cultural_narrative }}
			{{ content.field_traditional_knowledge }}
			{{ content.field_people }}
			{{ content.field_coverage}}
			{{ content.field_related_content }}
		</div>
		<div class="tw-basis-1/3 tw-w-1/3 tw-p-4 metadata">
			{{ content.field_mukurtu_community }}
			{{ content.field_category }}
			{{ content.field_keywords }}
			{{ content.field_in_collection }}
			{{ content.field_creator }}
			{{ content.field_contributor }}
			{{ content.field_language }}
		</div>
	</div>

</article>
