{#
/**
 * @file
 * Default theme implementation to for Local Contexts labels.
 *
 * @see template_preprocess_lclabel()
 *
 * @ingroup themeable
 */
#}
<article{{attributes}}>
  <div>
    <img src="{{ image_url }}" alt="{{ title }}" style="max-width: 100px;">
  </div>
  <div>
    <div class="title">
      <strong>{{ title }}</strong>
    </div>
    <div class="text">
      <div><strong>{{ 'Project:'|trans }}</strong> {{ hub_project_title }}</div>
      <div><strong>{{ 'Hub Community:'|trans }}</strong> {{ hub_community }}</div>
      <div><strong>{{ 'Label Text:'|trans }}</strong> {{ text }}</div>
    </div>
  </div>
  {% if content %}
    {{- content -}}
  {% endif %}
</article>
