{#
/**
 * @file
 * Theme override to present an audio file in digital_heritage_sidebar view mode.
 *
 * Displays a thumbnail image (or fallback audio icon) above the audio player.
 * Used in featured content cards.
 *
 * Available variables:
 * - media: The media item.
 * - name: Name of the media item.
 * - content: Media content.
 * - bundle: machine name of media type.
 * - attributes: HTML attributes for the containing element.
 * @see template_preprocess_media()
 */
#}
{%
  set classes = [
    'media',
    'media--' ~ bundle,
    'media--digital-heritage-sidebar'
  ]
%}

<div{{ attributes.addClass(classes) }}>
  {{ content.media_content_warnings }}

  <div class="media__thumbnail">
    {% if content.field_thumbnail['#items'] is not empty %}
      {{ content.field_thumbnail }}
    {% else %}
      <div class="media__audio-fallback">
        <img alt="audio file {{ name }}" src="/profiles/mukurtu/themes/mukurtu_v4/images/audio.png">
      </div>
    {% endif %}
  </div>

  {% if not skip_player %}
  <div class="media__audio-player">
    {{ content.field_media_audio_file }}
  </div>
  {% endif %}
</div>
