{#
/**
 * @file
 */
#}

<div class="gin-lb--form-actions form-actions" style="align-items: center">

    {{  preview_region }}
    {{ preview_content }}

    <input data-drupal-selector="edit-submit" type="submit" name="op"
           value="{{ 'Save'|t }}" class="glb-primary-save js-glb-primary-save glb-button glb-button--primary form-submit">
    <a href="#toggle-sidebar" class="meta-sidebar__trigger trigger" data-gin-tooltip role="button"
       title="{{ 'Hide sidebar panel'|t }}" aria-controls="gin_sidebar" aria-expanded="true"><span class="visually-hidden">{{ 'Hide sidebar panel'|t }}</span></a>
</div>
