<div id="javali-popup">
  <div class="consent-text"><h2>{{ items.text|raw }}</h2></div>
  <div class="consent-buttons">
    <button class="accept">{{ items.accept }}</button>
    <button class="decline">{{ items.decline }}</button>
  </div>
  <a class="visually-hidden" href="{{ items.url }}">{{ items.url_text }}</a>
</div>
