<article{{attributes.addClass(['tw-flex', 'tw-flex-col'])}}>
  <div class="tw-flex-initial tw-p-2">
    <img src="{{ image_url }}" alt="{{ title }}">
  </div>
  <div class="tw-flex-1 tw-p-2">
    <div class="title tw-font-semibold">
      {{ title }}
    </div>
    <div class="text">
      {{ text }}
    </div>
  </div>
</article>
