<div class="multipage-items">
  {% if pages|length > 1 %}
    <div class="splide__wrapper">
      <section class="splide multipage-carousel" aria-label="Multipage Item Carousel">
        <div class="splide__track" id="mukurtu-multipage-item-page-nav" {{ page_nav_attributes }}>
          <ul class="splide__list">
          {% for id, page in pages %}
            <li class="splide__slide" data-id="{{ id }}">{{ page }}</li>
          {% endfor %}
          </ul>
        </div>
      </section>
    </div>
  {% endif %}

  {% if table_of_contents and pages|length > 1 %}
    <div class="multipage-carousel__navigation">
      {{ table_of_contents }}
    </div>
  {% endif %}

  {% if current_page %}
    <div id="mukurtu-multipage-item-selected-page" {{ current_page_attributes }}>
      {{ current_page }}
    </div>
  {% endif %}
</div>
