{% if pages %}
<section class="splide" aria-label="Splide Basic HTML Example">
  <div class="splide__track" id="mukurtu-multipage-item-page-nav" {{ page_nav_attributes }}>
    <ul class="splide__list">
    {% for page in pages %}
      <li class="splide__slide">{{ page }}</li>
    {% endfor %}
    </ul>
  </div>
</section>
{% endif %}
{% if table_of_contents %}
  {{ table_of_contents }}
{% endif %}
{% if current_page %}
<div id="mukurtu-multipage-item-selected-page" {{ current_page_attributes }}>
  {{ current_page }}
</div>
{% endif %}

