{#
/**
 * @file
 * Theme override for the Browse by Community view block display.
 *
 * Available variables:
 * - attributes: Remaining HTML attributes for the element.
 * - css_name: A CSS-safe version of the view name.
 * - css_class: The user-specified classes names, if any.
 * - header: The optional header.
 * - footer: The optional footer.
 * - rows: The results of the view query, if any.
 * - empty: The content to display if there are no rows.
 * - pager: The optional pager next/prev links to display.
 * - exposed: Exposed widget form/info to display.
 * - feed_icons: Optional feed icons to display.
 * - more: An optional link to the next page of results.
 * - title: Title of the view, only used when displaying in the admin preview.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the view title.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the view title.
 * - attachment_before: An optional attachment view to be displayed before the
 *   view content.
 * - attachment_after: An optional attachment view to be displayed after the
 *   view content.
 * - dom_id: Unique id for every view being printed to give unique class for
 *   JavaScript.
 *
 * @see template_preprocess_views_view()
 */
#}
{%
  set classes = [

    'view-' ~ css_name|clean_class,
    'view-id-' ~ id,
    'view-display-id-' ~ display_id,
    dom_id ? 'js-view-dom-id-' ~ dom_id,
  ]
%}
<div{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {% if title %}
    <h2 class="community-browse-block__title">{{ title }}</h2>
  {% endif %}
  {{ title_suffix }}

  {% if header %}
    <header class="community-browse-block__header">
      {{ header }}
    </header>
  {% endif %}

  {{ exposed }}
  {{ attachment_before }}

  {% if rows -%}
  <div class="community-page-browse">
    {{ rows }}
  </div>
  {% elseif empty -%}
  <div class="community-browse-block__empty">
    {{ empty }}
  </div>
  {% endif %}

  {% if pager %}
  <nav class="community-browse-block__pager">
    {{ pager }}
  </nav>
  {% endif %}

  {{ attachment_after }}
  {{ more }}

  {% if footer %}
    <footer class="community-browse-block__footer">
      {{ footer }}
    </footer>
  {% endif %}

  {{ feed_icons }}
</div>
