<div class="browse-container">
  <div class="browse-results">
    <div class="browse-links">
      <button data-browse-mode="grid" aria-label="{{ 'Switch to grid view'|t }}">{{ 'Grid'|t }}</button>
      <button data-browse-mode="list" aria-label="{{ 'Switch to list view'|t }}" class="active-toggle">{{ 'List'|t }}</button>
      <button data-browse-mode="map" aria-label="{{ 'Switch to map view'|t }}">{{ 'Map'|t }}</button>
    </div>
    {{ list_results }}
    {{ grid_results }}
    {{ map_results }}
  </div>

  <aside class="browse-facets">
    {# This template is shared by /browse and /digital-heritage.
      The `is_dh` boolean is true on /digital-heritage. #}
    {% if is_dh %}
      {{ drupal_block('views_exposed_filter_block:mukurtu_digital_heritage_browse-mukurtu_digital_heritage_browse_block') }}
    {% else %}
      {{ drupal_block('views_exposed_filter_block:mukurtu_browse-mukurtu_browse_block') }}
    {% endif %}
  </aside>
</div>
