<div class="browse-container">
  <div class="browse-results">
    <div class="browse-links">
      <a href="/browse" data-browse-mode="grid" aria-label="{{ 'Switch to grid view'|t }}">{{ 'Grid'|t }}</a>
      {% if browselink %}
        {{ browselink }}
      {% endif %}
      <a class="active-toggle" data-browse-mode="map" aria-label="{{ 'Switch to map view'|t }}">{{ 'Map'|t }}</a>
    </div>
    <div id="mukurtu-map-browse-container">
      <div id="mukurtu-map-browse-map">{{ map }}</div>
      <div id="mukurtu-map-browse-teasers">{{ teasers }}</div>
    </div>
  </div>
  <aside class="browse-facets">
    {% if drupal_entity('block', 'views_exposed_filter_block:mukurtu_digital_heritage_browse-mukurtu_digital_heritage_browse_block') %}
      {{ drupal_entity('block', 'views_exposed_filter_block:mukurtu_digital_heritage_browse-mukurtu_digital_heritage_browse_block') }}
    {% endif %}
    {% if facets %}
      {% for facet in facets %}
        {{ facet }}
      {% endfor %}
    {% endif %}
  </aside>
</div>
