{#
/**
 * @file
 * Theme override for Word List nodes in the grid browse view mode.
 */
#}

{% set media_bundle = node.field_representative_media.0.entity.bundle.value.0['target_id'] %}
{% set has_rep_media = node.field_representative_media.0.entity is not empty %}

<article{{ attributes.addClass("vertical-card") }}>
  <div class="vertical-card__media">
    {% if has_rep_media %}
      {% include '@mukurtu_v4/content/_card-media.html.twig' with {
        media_bundle: media_bundle,
        media: content.field_representative_media,
        url: url,
      } %}
    {% elseif node.field_word_list_image.0.entity is not empty %}
      <a href="{{ url }}" aria-hidden="true" tabindex="-1">
        {{ content.field_word_list_image }}
      </a>
    {% endif %}
  </div>

  <div{{ content_attributes }} class="vertical-card__content">
    <div class="vertical-card__content-header">
      {{ title_prefix }}
      <h2{{ title_attributes }}>
        <a href="{{ url }}" rel="bookmark">{{ label }}</a>
      </h2>
      {{ title_suffix }}
    </div>

    <div class="vertical-card__content-body">
      {{ content.community_protocol_list }}
      {{ content.field_in_collection }}
    </div>
  </div>
</article>
