{#
/**
 * @file
 * Theme override for Collection nodes in the map browse view mode.
 */
#}

{% set media_bundle = node.field_representative_media.0.entity.bundle.value.0['target_id'] %}

<article{{ attributes.addClass(["vertical-card", "vertical-card--no-border", "vertical-card--large-font"]) }}>
  {% if media_bundle %}
    <div class="vertical-card__media">
      {% include '@mukurtu_v4/content/_card-media.html.twig' with {
        media_bundle: media_bundle,
        media: content.field_collection_image,
        url: url,
      } %}
    </div>
  {% endif %}

  <div{{ content_attributes }} class="vertical-card__content">
    <div class="vertical-card__content-header">
      {{ title_prefix }}
      <h2{{ title_attributes }}>
        <a href="{{ url }}" rel="bookmark">{{ label }}</a>
      </h2>
      {{ title_suffix }}
    </div>
  </div>
</article>
