{#
/**
 * @file
 * Theme override to display a Personal collection entity, full view mode.
 *
 * Available variables:
 * - content: All personal collection field items. Use {{ content }} to print
 *   them all, or print a subset such as {{ content.field_summary }}.
 * - attributes: HTML attributes for the containing element.
 * - label: The personal collection name.
 * - url: Direct URL of the current personal collection.
 * - is_private: Boolean, TRUE if the personal collection privacy setting is
 *   private.
 *
 * @see template_preprocess_personal_collection()
 */
#}
<article{{ attributes }}>

  <div class="full-node collection">

    <div class="collection__header">
      <div class="collection__header__image">
        {{ content.field_media_assets }}
      </div>

      <div class="collection__header__text">
        {% if label %}
          <h2>
            {{ label }}
            {% if is_private %}
              <span class="privacy-badge privacy-badge--private">{{ 'Private'|t }}</span>
            {% else %}
              <span class="privacy-badge privacy-badge--public">{{ 'Public'|t }}</span>
            {% endif %}
          </h2>
        {% endif %}

        {{ content.field_summary }}
      </div>
    </div> {# /header #}

    <div class="full-node__grid">
      {{ content.field_description }}

      <div class="full-node__main">
        <div class="full-node__content">
          {{ content|without('field_media_assets', 'field_summary', 'field_description', 'field_items_in_collection', 'field_pc_privacy', 'name', 'user_id') }}
        </div>
      </div>
    </div>

    {{ content.field_items_in_collection }}

  </div> {# /full-node. #}
</article>
